#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Deck {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Deck form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  margin: 0 auto;
}

.cards {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.cards li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.cards li button {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
}
